*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

tr{
    text-align: center;
    border-bottom: 0.5px solid #ddd;

    /* */
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


#principal{
    max-width:1024px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tbody{
    width:100%;
}

.sombreado{
    background-color: rgba(122, 120, 120, 0.678);
}

.border_lr{
    border-left: 1px solid;
    border-right: 1px solid;
}

td.equipo{
    display:flex;
}

td.equipo span{
    padding-top:8px;
    margin-left:5px;
}

/* td.equipo img{
    float:left;
}
td.equipo span{
    display:inline-block;
    margin-top:auto;
} */
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (max-width: 760px) {
    table{
        margin:0;
        width:100%;
    }
    td.d-none-sm{
        display:none;
    }
    td.b-r-sm{
        border-right:1px solid;
    }
    td{
        width:30px;
    }
    td.equipo{
        min-width:200px;
        max-width:200px;
    }
}
